:root {
  --primary-color: #2599fb;
}

@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Poppins Bold';
  src: url('./fonts/Poppins-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: Poppins;
  src: url('./fonts/Poppins-Medium.ttf');
  font-weight: 500;
}

@font-face {
  font-family: Prompt;
  src: url('./fonts/Prompt-Regular.ttf');
  font-weight: normal;
}

@font-face {
  font-family: 'Prompt Bold';
  src: url('./fonts/Prompt-Bold.ttf');
  font-weight: bold;
}

@font-face {
  font-family: 'Prompt Medium';
  src: url('./fonts/Prompt-Medium.ttf');
  font-weight: 500;
}

* {
  font-family: Poppins, Prompt, sans-serif;
}

span {
  display: block;
}

.regular {
  font-family: Poppins, Prompt, sans-serif;
}

.medium {
  font-family: 'Poppins Medium', 'Prompt Medium', sans-serif;
}

.bold {
  font-family: 'Poppins Bold', 'Prompt Bold', sans-serif;
}

.ant-btn > .fa-icon + span {
  margin-left: 8px;
}
